<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Character_Builder_5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Character_Builder_5.Properties.Settings>
            <setting name="LastPDFFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastCB5Folder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastImageFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastPDFPreset" serializeAs="String">
                <value/>
            </setting>
            <setting name="PDFUsedResources" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFPreserveForms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFDuplex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFDuplexWhite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFACPFormat" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PDFSwapScoreMod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDFSheetAttunementOnUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFSheetActions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFLogMagicItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDFSpellbookMagicItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DCI" serializeAs="String">
                <value/>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="CustomSheet" serializeAs="String">
                <value/>
            </setting>
            <setting name="CustomSpellSheet" serializeAs="String">
                <value/>
            </setting>
            <setting name="CustomLogSheet" serializeAs="String">
                <value/>
            </setting>
            <setting name="CustomSpellbook" serializeAs="String">
                <value/>
            </setting>
            <setting name="CustomActionsSheet" serializeAs="String">
                <value/>
            </setting>
            <setting name="CustomMonsterSheet" serializeAs="String">
                <value/>
            </setting>
            <setting name="PDFSpellbookMundaneItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDFEquipmentKeywords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFEquipmentStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFBonusSpellResources" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PDFFeatureTitlesOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideLostItems" serializeAs="String">
                <value>True</value>
            </setting>
        </Character_Builder_5.Properties.Settings>
    </userSettings>
</configuration>
