<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CB5e</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door px-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-box-seam px-2" aria-hidden="true"></span> Manage Packages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="character">
                <span class="bi bi-person-lines-fill px-2" aria-hidden="true"></span> Character
            </NavLink>
        </div>
        <div class="nav-item px-3 visually-hidden-focusable">
            <NavLink class="nav-link" href="race">
                <span class="bi bi-person-fill-gear px-2" aria-hidden="true"></span> Race
            </NavLink>
        </div>
        <div class="nav-item px-3 visually-hidden-focusable">
            <NavLink class="nav-link" href="class">
                <span class="bi bi-building-fill-gear px-2" aria-hidden="true"></span> Class
            </NavLink>
        </div>
        <div class="nav-item px-3 visually-hidden-focusable">
            <NavLink class="nav-link" href="background">
                <span class="bi bi-house-gear-fill px-2" aria-hidden="true"></span> Background
            </NavLink>
        </div>
        <div class="nav-item px-3 visually-hidden-focusable">
            <NavLink class="nav-link" href="scores">
                <span class="bi bi-gear-fill px-2" aria-hidden="true"></span> Scores &amp; Feats
            </NavLink>
        </div>
        <div class="nav-item px-3 visually-hidden-focusable">
            <NavLink class="nav-link" href="spellselection">
                <span class="bi bi-list-stars px-2" aria-hidden="true"></span> Spell Selection
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spells">
                <span class="bi bi-magic px-2" aria-hidden="true"></span> Spell Sheet
            </NavLink>
        </div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="spellbook">
                <span class="bi bi-book-half px-2" aria-hidden="true"></span> Spellbook
			</NavLink>
		</div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="journal">
                <span class="bi bi-journals px-2" aria-hidden="true"></span> Journal
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
