@inject ContextService context;
@implements IDisposable;
<div class="@CssClass">
	<input class="@InputCssClass" @bind="Value" />
	<button class="@ReloadCssClass" @onclick="Reset" title="Reset" />
</div>

@code {
	[Parameter]
	public string? CssClass { get; set; }

	[Parameter]
	public string? InputCssClass { get; set; } = "border-0 w-100 text-inherit fw-inherit";

	[Parameter]
	public string? ReloadCssClass { get; set; } = "reset bi bi-bootstrap-reboot";

	[Parameter]
	public List<FeatureClass>? Features { get; set; }

	[Parameter]
	public AbilityScoreArray? Scores { get; set; }

	private string? v;
	private string? Value { get => v; set => Update(value); }

	[Parameter]
	public ChangeType EventMask { get; set; } = ChangeType.Full | ChangeType.Features;

	[Parameter]
	public ChangeType EventType { get; set; } = ChangeType.PlayData;

	protected override Task OnInitializedAsync()
	{
		v = context.Context.Player.GetHitpointMax(context.Level, Scores, Features).ToString();
		context.PlayerChange += StateChange;
		return Task.CompletedTask;
	}

	protected override void OnParametersSet()
	{
		v = context.Context.Player.GetHitpointMax(context.Level, Scores, Features).ToString();
		base.OnParametersSet();
	}

	private async Task StateChange(ChangeType change)
	{
		if (change.HasAnyFlag(EventType, EventMask)) await InvokeAsync(() =>
			{
				v = context.Context.Player.GetHitpointMax(context.Level, Scores, Features).ToString();
				StateHasChanged();
			});
	}

	private async void Reset()
	{
		int max = context.Context.Player.GetHitpointMax();
		context.Context.MakeHistory("HPMax");
		context.Context.Player.BonusMaxHP = 0;
		context.Context.Player.CurrentHPLoss = Math.Max(0, Math.Min(max, context.Context.Player.CurrentHPLoss));
		await context.NotifyPlayerChange(EventType);
	}

	private async void Update(string? v)
	{
		context.Context.MakeHistory("HPMax");
		if (string.IsNullOrEmpty(v)) return;
		int val = 0;
		int max = context.Context.Player.GetHitpointMax() - context.Context.Player.BonusMaxHP;
		if (v.StartsWith("+") && int.TryParse(v.Substring(1), out int added)) val = context.Context.Player.BonusMaxHP + added;
		else if (int.TryParse(v, out int parsed))
		{
			if (parsed < 0) val = context.Context.Player.BonusMaxHP + parsed;
			else val = parsed - max;
		}
		else return;
		context.Context.Player.BonusMaxHP = Math.Max(-max, val);
		context.Context.Player.CurrentHPLoss = Math.Max(0, Math.Min(max + val, context.Context.Player.CurrentHPLoss));
		//this.v = (max + val).ToString();
		await context.NotifyPlayerChange(EventType);
	}

	public void Dispose() => context.PlayerChange -= StateChange;
}
