#print .SpellBox0 {
    height: 100pt;
    padding: 0 0.5rem 0 0.5rem !important;
}

#print .SpellBox1 {
    height: 230pt;
    padding: 0 0.5rem 0 0.5rem !important;
}

#print .SpellBox2 {
    height: 230pt;
    padding: 0 0.5rem 0 0.5rem !important;
}

#print .SpellBox3 {
    height: 238pt;
    padding: 0 0.5rem 0 0.5rem !important;
}

#print .SpellBox4 {
    height: 165pt;
    padding: 0 0.5rem 0 0.5rem !important;
}

#print .SpellBox5 {
    height: 155pt;
    padding: 0 0.5rem 0 0.5rem !important;
}

#print .SpellBox6 {
    height: 155pt;
    padding: 0 0.5rem 0 0.5rem !important;
}

#print .SpellBox7 {
    height: 138pt;
    padding: 0 0.5rem 0 0.5rem !important;
}

#print .SpellBox8 {
    height: 115pt;
    padding: 0 0.5rem 0 0.5rem !important;
}

#print .SpellBox9 {
    height: 115pt;
    padding: 0 0.5rem 0 0.5rem !important;
}