.linktag {
    margin-left: 2px;
    vertical-align: top;
}

@media (hover: hover) {

    .bi-tag:hover::before {
        content: "\f5af";
    }

    .bi-tags:hover::before {
        content: "\f5b1";
    }
}