@page "/"

<PageTitle>Index</PageTitle>

<table class="table">
	<tr><th>TODO</th></tr>
	<tr><td>Inventory</td></tr>
	<tr><td>Actions</td></tr>
	<tr><td>Forms and Summons</td></tr>
	<tr><td>Suggestions for DM/DCI Alignments Location</td></tr>
	<tr><td>Reorder and Trim Attacks</td></tr>
	<tr><td>Format for Print</td></tr>
	<tr><td>Group Weapons and Tools in choices</td></tr>
	<tr><td>Turn off Pictures in Choices</td></tr>
	<tr><td>Save Darkmode, Player, DCI, to LocalStorage</td></tr>
	<tr><td>Save current char to session storage</td></tr>
	<tr><td>Journal QoL: Insert Entry Before, Copy/Paste, Drag to Reorder</td></tr>
</table>
