<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.11" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Xam.iTextSharpLGPL" version="0.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.3.0.967583" targetFramework="xamarinios10" />
</packages>