<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.11" targetFramework="monoandroid71" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid60" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="monoandroid71" />
  <package id="Xam.iTextSharpLGPL" version="0.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="3.2.0.839982" targetFramework="monoandroid71" />
</packages>